/*
    Document   : _mixins
    Created on : 27-aug-2014, 8:49:29
    Author     : cyber08
    Description:
    Purpose of the stylesheet follows.
*/

/*
    TODO customize this sample style
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

root {
    display: block;
}
